@import './app.scss';
.parallaxBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parallaxBlock-container{
    width: 100%;
    height: auto;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../../img/peeling/NeoVira-carboxytherapy1920_500fit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    &::before{
        content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(11, 29, 38, 0.8862745098);
    }
}

.parallaxBlock-content{
    max-width: 1070px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.parallaxBlock-text{
    text-align: center;
    max-width: 800px;
    h3{
        color: $pink;
        padding: 20px;
    }
    h5{
        color: #f1f1f1;
        padding: 20px;
        line-height: 1.3;
    }
    p{
        color: #f1f1f1;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 6px 20px;
        line-height: 1.3;
    }
}
.parallaxBlock-flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 1;
    padding: 40px 20px;
}

.parallaxBlock-items{
    max-width: 320px;
    width: 100%;
    background: #2f4454a8;
    margin: 10px;
    box-shadow: 0 0 20px 0 #2f4454a8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 20px;
    &__text{
        text-align: center;
        padding: 10px 0;
        min-height: 100px;
        h5{
            color: $pink;
            line-height: 1.3;
        }
    }
    &__desc{
        li{
            padding: 5px 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #f1f1f1;
            position: relative;
            margin-left: 20px;
            line-height: 1.2;
            &::before{
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $pink;
               position: absolute;
               top: 10px;
               left: -20px;
            }
        }
    }

}


