@import './app.scss';

.reviews{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reviews-container{
    width: 100%;
    max-width: 1070px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reviews-title{
    h2{
        color: #1c3334;
        text-align: center;
        line-height: 1.5;
    }
   
}

.reviews-slide{
    width: 100%;
    padding: 40px 0;
    background-color: transparent;
    transform: scale(0.8);
    opacity: 0;
    transition: all 2s;
    &.active{
        transform: scale(1);
        opacity: 1;
    }
}

.reviews-card{
    // max-width: 300px;
    width: 100%;
    // height: 300px;
    // border: 2px solid $darkgreen;
    padding: 10px;
}
.reviews-card-item{
    width: 100%;
    height: 100%;
    box-shadow: 5px 6px 6px 0 #607d8b3b;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-size: contain;
        background-position: center;
        &_1{
            background-image: url(../../img/reviews/G_M.png);
        }
        &_2{
            background-image: url(../../img/reviews/IU.png);
        }
        &_3{
            background-image: url(../../img/reviews/Ksenia_Oliver.png);
        }
        &_4{
            background-image: url(../../img/reviews/Lena_Grudnyak.png);
        }
        &_5{
            background-image: url(../../img/reviews/Marta_K.png);
        }
        &_6{
            background-image: url(../../img/reviews/Viktoriya_Sich.png);
        }
    }
    &__title{
        padding: 10px;
        h4{
            color: $pink;
        }
    }
    &__text{
        padding: 10px;
        p{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 1.3;
            color: #1c3334b2;
        }
    }
    &__decor{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        &::before{
            content: '★★★★★';
            color: $pink;
        }
    }

}