.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper-reviews {
  padding: 40px 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  position: relative;
}
.swiper-slide__back {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: url(../../img/peeling/slajder1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper-slide__laying {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.swiper-slide__laying_1 {
  background: url(../../img/beauty/bg-10.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-slide__laying_2 {
  background: url(../../img/beauty/original_5ffe1a922688fe002f502b92_60af4e6412d3b.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-slide__haircut {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.swiper-slide__haircut_1 {
  background: url(../../img/beauty/1626948477_24-p-parikmakherskaya-krasnii-fon-27.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-slide__haircut_2 {
  background: url(../../img/beauty/r_1683193_25541_kzjuakhsikgmxgns_1638513602.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-slide__coloring {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.swiper-slide__coloring_1 {
  background: url(../../img/beauty/1648272343_3-krasavica-info-p-koloristika-volos-devushka-krasivo-foto-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-slide__coloring_2 {
  background: url(../../img/beauty/1626260121_49-kartinkin-com-p-fon-dlya-parikmakherskoi-krasivo-55.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-pagination-bullet-active {
  background-color: #da7b93;
  transform: scale(1.4);
}

.swiper-button-prev,
.swiper-button-next {
  color: #da7b93;
  transition: all 0.5s;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.3);
  transition: all 0.5s;
}

@media screen and (max-width: 870px) {
  .swiper-slide__back {
    background-position: center;
  }
}

/*# sourceMappingURL=swiper.css.map */
